
.logo {
    width: 75px; 
    height: auto; 
    position: absolute;
    top: 10px;
    left: 10px;
}


body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: left;
}

h1 {
    font-weight: 900;
    font-size: 40px;    
    text-align: center;
    margin-top: -10px;
    color: #000000; 
}

.title-main{
    font-weight: 900;
    font-size: 40px;    
    text-align: center;
    margin-top: -10px;
    color: #000000;
}

.title-sub{
    font-weight: 900;
    font-size: 40px;    
    text-align: center;
    margin-top: -10px; 
    color: #000000; 
    margin-bottom: 800px;
    
}
#content {
    max-height: 500px; 
    overflow-y: auto; 
}

.header-image {
    width: 200px;
    height: auto;
    position: absolute;
    top: 40px;
    right: 10px; 
}


