
.logo {
    width: 90px; 
    height: auto; 
    position: absolute;
    top: 30px;
    left: 70px;
}


body {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: left;
}
.title-main{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 60px;    
    text-align: center;
    margin-top: -10px;
    color: #000000;
}

.title-sub{
    font-family: 'Libre Franklin', sans-serif ;
    font-weight: 900;
    font-size: 40px;    
    margin-left: 70px;
    margin-top: 100px; 
    color: #000000; 
    margin-bottom: 800px;
    -webkit-text-stroke: 1.5px #000;
}


.title-sub2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    font-size: 20px;
    margin-left: 50px;
    margin-top: 100px;
    color: #000000;
    font-style: italic; 
}

.title-sub2 .bold {
    font-weight: 900;
}

.title-sub2 .italic {
    font-style: italic;
}


.title-sub2 .italic.bold {
    font-weight: 900;
    font-style: italic; 
}


.title-sub2 .bold {
    font-style: normal;
}

#content {
    max-height: 500px; 
    overflow-y: auto; 
}

.header-image {
    width: 300px;
    height: auto;
    position: absolute;
    top: 40px;
    right: 70px; 
}


